<!-- <img src="assets/images/masongreen8.jpg" /> -->

<div fxLayout="column" fxLayoutAlign="center center">
  <span class="header"> <app-header></app-header></span>

  <nav class="header">
    <button mat-raised-button color="primary" a routerLink="/priority">
      Top Projects
    </button>

    <button mat-raised-button color="primary" a routerLink="/clients">
      Client List
    </button>
    <button mat-raised-button color="primary" a routerLink="/gui">
      Project Dashboard
    </button>
  </nav>
  <div fxLayout="column" fxLayoutAlign="center center">
    <router-outlet></router-outlet>
    <!-- <app-messages></app-messages> -->
  </div>
</div>
